@import "news";

#home {
  background-color: #f8f8f8;
  color: var(--white-color);
}

.bg-header {
  background-color: #f8f8f8;
  color: var(--black-color);

  .header-link,
  .header-logo {
    color: currentColor;
  }

  .header-hamburger-line {
    background-color: currentColor;
  }
}

.hero-banner {
  height: 100vh;
  background: url("https://s7d2.scene7.com/is/image/ritzcarlton/vierz-d-bar-50788811?$XlargeViewport100pct$")
    no-repeat center / cover;

  @media screen and (max-width: 1023px) {
    height: 800px;
  }

  @media screen and (max-width: 739px) {
    height: 600px;
  }
}

.gallery-list {
  width: 100%;
  padding: 0 25px;
  margin-top: 25px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 25px;

  @media screen and (max-width: 739px) {
    margin-top: 10px;
    padding: 0 10px;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
  }
}

.gallery-item {
  width: 100%;
  height: 400px;
  transition: all 1s ease;
  transform: translateY(60px);
  position: relative;
  opacity: 0;
  visibility: hidden;

  &:hover .gallery-item-link {
    opacity: 1;
  }

  @media screen and (max-width: 1023px) {
    height: 200px;
  }
}

.gallery-item.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);

  &:nth-child(2n + 2) {
    transition-delay: 0.2s;
  }
}

.gallery-item-image {
  transition: all 0.5s ease;
}

.gallery-item-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.7);
  color: #f8f8f8;
  transition: all 0.5s ease;
  letter-spacing: 3px;
  opacity: 0;
  cursor: pointer;
}

.gallery-item-title {
  font-size: 2.5rem;
  text-align: center;
  font-family: var(--primary-font);
  margin-bottom: 8px;

  @media screen and (max-width: 1023px) {
    font-size: 1.6rem;
  }
}

.gallery-item-place {
  font-size: 1.4rem;
  font-family: var(--secondary-font);

  @media screen and (max-width: 1023px) {
    font-size: 1.2rem;
  }
}

.menu-mobile__item:first-child .menu-mobile__link {
  &::after {
    width: 100%;
    visibility: visible;
    opacity: 1;
  }
}

// Modal
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--white-color);
  transition: all 1s ease-in-out;
  transform: translateY(-100%);
  opacity: 0.8;
  visibility: hidden;
  z-index: 999;

  &.active {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);

    .modal-btn-prev {
      opacity: 1;
      transform: translateX(0);
    }

    .modal-btn-next {
      opacity: 1;
      transform: translateX(0);
    }
  }
}

.modal-container {
  max-width: 1130px;
  margin: 0 auto;
  padding-top: 25px;
  padding: 15px;
  position: relative;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.modal-logo {
  flex: 1;
  text-align: center;
  font-size: 2.4rem;
  letter-spacing: 4px;
  text-shadow: 0 0 1px var(--primary-color);

  @media screen and (max-width: 739px) {
    font-size: 2rem;
  }
}

.modal-close {
  font-size: 3rem;
  font-weight: 600;
  color: inherit;
  opacity: 0.5;
  cursor: pointer;
  transition: var(--transition);
  z-index: 10;

  &:hover {
    opacity: 1;
  }
}

.modal-body {
  position: relative;
}

.modal-btn {
  font-size: 2rem;
  text-align: center;
  color: inherit;
  background: var(--white-color);
  border-radius: 50%;
  padding: 8px 15px;
  cursor: pointer;
  opacity: 0;
  transition: all 1s ease-in-out 0.3s;
  position: absolute;
  top: 50%;
  z-index: 10;

  @media screen and (max-width: 739px) {
    font-size: 1.6rem;
    padding: 5px 12px;
  }
}

.modal-btn-prev {
  left: 0px;
  transform: translate(100%, -50%);
  box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.2);
}

.modal-btn-next {
  right: 0;
  transform: translate(-100%, -50%);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.modal-wrapper {
  max-width: 880px;
  overflow: hidden;
  position: relative;
  margin: 0 auto;

  @media screen and (max-width: 739px) {
    max-width: 100%;
  }
}

.modal-slide {
  width: 100%;
  height: 500px;
  display: flex;

  @media screen and (max-width: 739px) {
    height: 300px;
  }
}

.modal-item {
  width: 100%;
  height: 100%;
  flex: 1 0 100%;
  user-select: none;
}

.modal-gallery {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 16px;
}

.modal-info {
  font-size: 1.2rem;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-family: var(--secondary-font);

  @media screen and (max-width: 739px) {
    font-size: 1rem;
    letter-spacing: 2px;
  }
}

.modal-title {
  font-size: 2.5rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-align: right;

  @media screen and (max-width: 739px) {
    font-size: 1.5rem;
    letter-spacing: 2px;
  }
}

.modal-scroll-down {
  display: inline-block;
  color: inherit;
  opacity: 0.5;

  @media screen and (max-width: 739px) {
    display: none;
  }
}

.modal-scroll-down-icon {
  animation: scroll-down 1s ease-in-out infinite;

  @keyframes scroll-down {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(10px);
    }
    100% {
      transform: translateY(0);
    }
  }
}

.modal-content {
  overflow: hidden;
}

.modal-desc {
  margin-top: 180px;
  margin-bottom: 180px;
  font-size: 2.4rem;
  line-height: 30px;
  text-align: center;
  text-shadow: 0 0 0 var(--primary-color);

  @media screen and (max-width: 739px) {
    margin-top: 100px;
    margin-bottom: 100px;
    font-size: 2rem;
    line-height: 25px;
  }
}
