<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact | Restaurant</title>

    <link rel="stylesheet" href="../assets/css/header.css">
    <link rel="stylesheet" href="../assets/css/footer.css">
    <link rel="stylesheet" href="../assets/css/contact.css">
    <link rel="stylesheet" href="../assets/css/base.css">
</head>

<body>
    <div id="contact">
        <header class="header">
            <div class="header-inner">
                <div class="header-menu">
                    <a href="/index.html#views" class="header-link">Views</a>
                    <a href="studio.html" class="header-link">Studio</a>
                </div>
                <span class="header-logo">
                    <a href="index.html" class="header-logo-text">Paradise</a>
                </span>
                <div class="header-menu">
                    <a href="news:;" class="header-link">News</a>
                    <a href="contact:;" class="header-link">Contact</a>
                </div>
                <!-- Hamburger mobile -->
                <div class="header-hamburger hide-on-medium">
                    <div class="header-hamburger-line"></div>
                    <div class="header-hamburger-line"></div>
                    <div class="header-hamburger-line"></div>
                </div>
            </div>
        </header>
        <main class="content">
            <section id="contact" class="contact-info">
                <ul class="contact-info-list">
                    <li class="contact-info-text">Paradise Project</li>
                    <li class="contact-info-text">Ho Chi Minh, City</li>
                </ul>
                <ul class="contact-info-list">
                    <li class="contact-info-item">
                        <a href="tel:(0)123 456 789" class="contact-info-link">+84 (0)123 456 789</a>
                    </li>
                    <li class="contact-info-item">
                        <a href="mailto:phucluu1609@gmail.com" class="contact-info-link">paradise@restaurant.com</a>
                    </li>
                </ul>
            </section>
        </main>
        <footer class="footer">
            <div class="footer-inner">
                <ul class="footer-media">
                    <li class="footer-media-item">
                        <a href="instagram:;" class="footer-media-link">Instagram</a>
                    </li>
                    <li class="footer-media-item">
                        <a href="linkedin:;" class="footer-media-link">Linkedin</a>
                    </li>
                    <li class="footer-media-item">
                        <a href="twitter:;" class="footer-media-link">Twitter</a>
                    </li>
                </ul>
                <div class="footer-author">
                    <span>&copy; 2022.</span>
                    <span>All rights reserved</span>
                </div>
            </div>
        </footer>
    </div>
    <!-- Modal menu mobile -->
    <div class="modal-menu">
        <div class="modal-menu__header">
            <div class="modal-menu__close">
                &#10006;
            </div>
            <div class="modal-menu__logo">
                <a href="/index.html">Paradise</a>
            </div>
        </div>
        <ul class="modal-menu__list">
            <li class="modal-menu__item">
                <a href="/index.html#views" class="modal-menu__link">Views</a>
            </li>
            <li class="modal-menu__item">
                <a href="studio.html" class="modal-menu__link">Studio</a>
            </li>
            <li class="modal-menu__item">
                <a href="press:;" class="modal-menu__link modal-menu-alert">Press</a>
            </li>
            <li class="modal-menu__item">
                <a href="new:;" class="modal-menu__link modal-menu-alert">News</a>
            </li>
            <li class="modal-menu__item">
                <a href="contact.html" class="modal-menu__link">Contact</a>
            </li>
        </ul>
    </div>

    <script src="../assets/js/modalMenu.js"></script>
</body>

</html>