.news {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: 100;
  display: flex;
  flex-direction: row-reverse;
  transition: all 0.5s ease-in-out;
  background: transparent;
  visibility: hidden;
  color: var(--secondary-color);
}

.news-active {
  background: rgb(214, 214, 214, 0.7);
  visibility: visible;

  .news-content {
    transform: translateX(0);
  }
}

.news-content {
  width: 400px;
  height: min-content;
  padding: 25px;
  background: var(--primary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease-in-out;
  transform: translateX(400px);
  font-family: var(--secondary-font);

  @media screen and (max-width: 768px) {
    width: 100%;
    transform: translateX(100%);
    padding: 15px;
  }
}

.news-head {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  font-size: 1.2rem;
  letter-spacing: 3px;
  margin-bottom: 25px;
}

.news-head-close {
  cursor: pointer;
  font-size: 1.7rem;
  opacity: 0.7;
}

.news-item + .news-item {
  margin-top: 70px;
}

.news-item-image {
  width: 100%;
  min-height: 200px;
  margin-bottom: 20px;
}

.news-item-heading {
  margin-bottom: 20px;
  font-family: var(--primary-font);
}

.news-item-title {
  font-size: 1.6rem;
  font-weight: 300;
  text-shadow: 0 0 0 currentColor;
  letter-spacing: 2px;
  text-transform: uppercase;
  line-height: 1.2;
}

.news-item-text,
.news-item-link {
  font-size: 1.33rem;
  letter-spacing: 0.3px;
  line-height: 1.4;
}

.news-item-link {
  margin-top: 12px;
}
