* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #0c1b2a;
  --secondary-color: #ff950d;
  --white-color: #f8f8f8;
  --black-color: #000;
  --primary-font: "Roboto";
  --secondary-font: sans-serif;
  --transition: all 0.3s ease;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: var(--primary-font);
  font-size: 1.6rem;
  line-height: 1.5;
  --webkit-font-smoothing: antialiased;
  --moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}

a {
  display: block;
  text-decoration: none;
  color: currentColor;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header {
  width: 100%;
  height: 75px;
  position: fixed;
  transition: all 0.5s ease-in-out;
  z-index: 1;
}

.header-inner {
  width: 1060px;
  height: 100%;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: var(--secondary-font);
}

.header-menu {
  display: flex;
  align-items: center;
}

.header-link {
  margin-right: 42px;
  text-transform: uppercase;
  font-size: 1.2rem;
  letter-spacing: 3px;
  color: var(--white-color);
}
.header-link::after {
  content: "";
  display: block;
  width: 0;
  border-bottom: 1px solid;
  transition: var(--transition);
  visibility: hidden;
}
.header-link:hover::after {
  width: 100%;
  visibility: visible;
}

.header-link:last-child {
  margin-right: 0;
}

.header-logo {
  color: #fff;
  font-size: 3rem;
  text-shadow: 0 0 1px currentColor;
  letter-spacing: 4px;
}

.header-logo-text {
  display: inline-block;
}

.header-hamburger {
  position: relative;
  top: 0;
  right: 10px;
}

.header-hamburger-line {
  width: 30px;
  height: 2px;
  background-color: var(--white-color);
  margin: 7px 0;
}

.menu-mobile {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  transition: var(--transition);
}

.menu-mobile.active {
  opacity: 1;
  visibility: visible;
}

.menu-mobile__head {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
}

.menu-mobile__close {
  font-size: 1.6rem;
  color: rgba(0, 0, 0, 0.7);
  margin-left: 25px;
}

.menu-mobile__logo {
  flex: 1;
  text-align: center;
  font-size: 2rem;
  letter-spacing: 3px;
  text-shadow: 0 0 1px currentColor;
}
.menu-mobile__logo a {
  display: inline-block;
}

.menu-mobile__body {
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-mobile__list {
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.menu-mobile__item + .menu-mobile__item {
  margin-top: 5px;
}

.menu-mobile__link {
  font-size: 2.7rem;
  font-family: var(--secondary-font);
  letter-spacing: 2px;
  line-height: 1.3;
  text-transform: uppercase;
  color: #000;
  transition: var(--transition);
  display: inline-block;
}
.menu-mobile__link::after {
  content: "";
  display: block;
  width: 0;
  border-bottom: 1px solid;
  transition: var(--transition);
  visibility: hidden;
}
.menu-mobile__link.active::after {
  width: 100%;
  visibility: visible;
}

.menu-mobile__footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-mobile__media {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-mobile__media-item {
  padding: 0 20px;
}

.menu-mobile__media-link {
  transition: var(--transition);
}
.menu-mobile__media-link::after {
  content: "";
  display: block;
  width: 0;
  border-bottom: 1px solid;
  transition: var(--transition);
  visibility: hidden;
}
.menu-mobile__media-link:hover::after {
  width: 100%;
  visibility: visible;
}

@media screen and (max-width: 1023px) {
  .header-inner {
    width: 100%;
  }
}
@media screen and (min-width: 740px) {
  .hide-on-medium {
    display: none;
  }
}
@media screen and (max-width: 739px) {
  .hide-on-mobile {
    display: none;
  }
  .header {
    height: 60px;
  }
  .header-logo {
    font-size: 2.5rem;
    flex: 1;
    text-align: center;
  }
  .header-hamburger {
    display: block;
  }
}
.footer {
  width: 100%;
  height: 75px;
}

.footer-inner {
  width: 1060px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  font-family: var(--secondary-font);
}
@media screen and (max-width: 1023px) {
  .footer-inner {
    width: 100%;
  }
}

.footer-media {
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

.footer-media-item {
  margin-right: 50px;
  font-size: 1.2rem;
  letter-spacing: 2px;
  color: inherit;
}
.footer-media-item::after {
  content: "";
  display: block;
  width: 0;
  border-bottom: 1px solid;
  transition: var(--transition);
  visibility: hidden;
}
.footer-media-item:hover::after {
  width: 100%;
  visibility: visible;
}

.footer-author {
  font-size: 1.3rem;
  letter-spacing: 2px;
  display: flex;
  color: inherit;
  align-items: center;
}

@media screen and (max-width: 739px) {
  .hide-on-mobile {
    display: none;
  }
  .footer-inner {
    width: 100%;
    padding: 0 15px;
  }
  .footer-author {
    text-transform: none;
  }
}

/*# sourceMappingURL=app.css.map */
