* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #0c1b2a;
  --secondary-color: #ff950d;
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Georgia", serif;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: var(--primary-font);
  font-size: 1.6rem;
  line-height: 1.5;
}

body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-track {
  background: #f8f8f8;
}

body::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.7);
}

a {
  display: block;
  text-decoration: none;
  color: currentColor;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
