.header {
  width: 100%;
  height: 75px;
  position: fixed;
  transition: all 0.5s ease-in-out;
  z-index: 1;
}

.header-inner {
  width: 1060px;
  height: 100%;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: var(--secondary-font);
}

.header-menu {
  display: flex;
  align-items: center;
}

.header-link {
  margin-right: 42px;
  text-transform: uppercase;
  font-size: 1.2rem;
  letter-spacing: 3px;
  color: #f8f8f8;
}
.header-link::after {
  content: "";
  display: block;
  width: 0;
  border-bottom: 1px solid;
  transition: var(--transition);
  visibility: hidden;
}
.header-link:hover::after {
  width: 100%;
  visibility: visible;
}

.header-link:last-child {
  margin-right: 0;
}

.header-logo {
  color: #fff;
  font-size: 2.7rem;
  text-shadow: 0 0 1px currentColor;
  letter-spacing: 2px;
}

.header-logo-text {
  display: inline-block;
}

.header-hamburger {
  position: relative;
  top: 0;
  right: 10px;
}

.header-hamburger-line {
  width: 30px;
  height: 2px;
  background-color: currentColor;
  margin: 7px 0;
}

.modal-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  transition: var(--transition);
}

.modal-menu.show {
  opacity: 1;
  visibility: visible;
}

.modal-menu__header {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
}

.modal-menu__close {
  font-size: 1.6rem;
  color: rgba(0, 0, 0, 0.7);
  margin-left: 25px;
}

.modal-menu__logo {
  flex: 1;
  text-align: center;
  font-size: 2rem;
  letter-spacing: 3px;
  text-shadow: 0 0 1px currentColor;
}
.modal-menu__logo a {
  display: inline-block;
}

.modal-menu__body {
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-menu__list {
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal-menu__item + .modal-menu__item {
  margin-top: 5px;
}

.modal-menu__link {
  font-size: 2.7rem;
  font-family: var(--secondary-font);
  letter-spacing: 2px;
  line-height: 1.3;
  text-transform: uppercase;
  color: #000;
  transition: var(--transition);
  display: inline-block;
}
.modal-menu__link::after {
  content: "";
  display: block;
  width: 0;
  border-bottom: 1px solid;
  transition: var(--transition);
  visibility: hidden;
}
.modal-menu__link.active::after {
  width: 100%;
  visibility: visible;
}

.modal-menu__footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-menu__media {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-menu__media-item {
  padding: 0 20px;
}

.modal-menu__media-link {
  transition: var(--transition);
}
.modal-menu__media-link::after {
  content: "";
  display: block;
  width: 0;
  border-bottom: 1px solid;
  transition: var(--transition);
  visibility: hidden;
}
.modal-menu__media-link:hover::after {
  width: 100%;
  visibility: visible;
}

@media screen and (max-width: 1023px) {
  .header-inner {
    width: 100%;
  }
}
@media screen and (min-width: 740px) {
  .hide-on-medium {
    display: none;
  }
}
@media screen and (max-width: 739px) {
  .hide-on-mobile {
    display: none;
  }
  .header {
    height: 60px;
  }
  .header-logo {
    flex: 1;
    text-align: center;
  }
  .header-hamburger {
    display: block;
  }
}

/*# sourceMappingURL=header.css.map */
