<div class="footer-inner">
    <ul class="footer-media hide-on-mobile">
        <li class="footer-media-item">
            <a href="instagram:;" class="footer-media-link">Instagram</a>
        </li>
        <li class="footer-media-item">
            <a href="linkedin:;" class="footer-media-link">Linkedin</a>
        </li>
        <li class="footer-media-item">
            <a href="twitter:;" class="footer-media-link">Twitter</a>
        </li>
    </ul>
    <div class="footer-author">
        <span class="footer-copyright">&copy; 2022.</span>
        <span>Developer by Hoang Phuc</span>
    </div>
</div>