<div class="header-inner">
    <div class="header-menu hide-on-mobile">
        <a href="../index.html#galleries" class="header-link">Views</a>
        <a href="../pages/studio.html" class="header-link">Studio</a>
    </div>
    <span class="header-logo">
        <a href="../index.html" class="header-logo-text">Paradise</a>
    </span>
    <div class="header-menu hide-on-mobile">
        <a href="news:;" class="header-link" onclick="openNewsPage()">News</a>
        <a href="../pages/contact.html" class="header-link">Contact</a>
    </div>
    <!-- Hamburger mobile -->
    <div class="header-hamburger hide-on-medium" onclick="openMenu()">
        <div class="header-hamburger-line"></div>
        <div class="header-hamburger-line"></div>
        <div class="header-hamburger-line"></div>
    </div>
</div>