<div class="menu-mobile__head">
    <div class="menu-mobile__close" onclick="closeMenu()">
        &#10006;
    </div>
    <div class="menu-mobile__logo">
        <a href="../index.html">G . 96</a>
    </div>
</div>
<div class="menu-mobile__body">
    <ul class="menu-mobile__list">
        <li class="menu-mobile__item">
            <a href="../index.html#galleries" class="menu-mobile__link">Views</a>
        </li>
        <li class="menu-mobile__item">
            <a href="../pages/studio.html" class="menu-mobile__link">Studio</a>
        </li>
        <li class="menu-mobile__item">
            <a href="#" class="menu-mobile__link" onclick="menuAlert()">Press</a>
        </li>
        <li class="menu-mobile__item">
            <span class="menu-mobile__link" onclick="openNewsPage()">News</span>
        </li>
        <li class="menu-mobile__item">
            <a href="../pages/contact.html" class="menu-mobile__link">Contact</a>
        </li>
    </ul>
</div>
<div class="menu-mobile__footer">
    <ul class="menu-mobile__media">
        <li class="menu-mobile__media-item">
            <a href="instagram:;" class="menu-mobile__media-link">Instagram</a>
        </li>
        <li class="menu-mobile__media-item">
            <a href="linkedin:;" class="menu-mobile__media-link">Linkedin</a>
        </li>
        <li class="menu-mobile__media-item">
            <a href="twitter:;" class="menu-mobile__media-link">Twitter</a>
        </li>
    </ul>
</div>