<div class="modal-menu__header">
    <div class="modal-menu__close" onclick="closeMenu()">
        &#10006;
    </div>
    <div class="modal-menu__logo">
        <a href="../index.html">Paradise</a>
    </div>
</div>
<div class="modal-menu__body">
    <ul class="modal-menu__list">
        <li class="modal-menu__item">
            <a href="../index.html#views" class="modal-menu__link">Views</a>
        </li>
        <li class="modal-menu__item">
            <a href="../pages/studio.html" class="modal-menu__link">Studio</a>
        </li>
        <li class="modal-menu__item">
            <a href="#" class="modal-menu__link" onclick="menuAlert()">Press</a>
        </li>
        <li class="modal-menu__item">
            <a href="#" class="modal-menu__link" onclick="openNewsPage()">News</a>
        </li>
        <li class="modal-menu__item">
            <a href="../pages/contact.html" class="modal-menu__link">Contact</a>
        </li>
    </ul>
</div>
<div class="modal-menu__footer">
    <ul class="modal-menu__media">
        <li class="modal-menu__media-item">
            <a href="instagram:;" class="modal-menu__media-link">Instagram</a>
        </li>
        <li class="modal-menu__media-item">
            <a href="linkedin:;" class="modal-menu__media-link">Linkedin</a>
        </li>
        <li class="modal-menu__media-item">
            <a href="twitter:;" class="modal-menu__media-link">Twitter</a>
        </li>
    </ul>
</div>