<div class="news-content">
    <div class="news-head">
        <span class="news-head-title">News</span>
        <span class="news-head-close" onclick="closeNewsPage()">
            &#10006;
        </span>
    </div>
    <div class="news-item">
        <img class="news-item-image" src="../assets/images/image6.jpg" alt="RETROSPECTIVE 2019">
        <div class="news-item-content">
            <div class="news-item-heading">
                <h3 class="news-item-title">26 FEBRUARY 2020</h3>
                <h3 class="news-item-title">RETROSPECTIVE 2019</h3>
            </div>
            <div class="news-item-desc">
                <p class="news-item-text">
                    Savage Garden were crowned winners of Best UK bar and Best restaurant & bar in a Hotel at the 2019
                    Restaurant & Bar Design Awards! Best UK bar was awarded to Dirty Martini Birmingham and Savage
                    Garden
                    claimed the best restaurant and bar in a hotel.
                </p>
            </div>
        </div>
    </div>
    <div class="news-item">
        <img class="news-item-image" src="../assets/images/news2.jpg" alt="ADDING THE WOW FACTOR">
        <div class="news-item-content">
            <div class="news-item-heading">
                <h3 class="news-item-title">27 NOVEMBER 2019</h3>
                <h3 class="news-item-title">ADDING THE WOW FACTOR</h3>
            </div>
            <div class="news-item-desc">
                <p class="news-item-text">
                    Selfridges leading technology department, Tekzone, is currently under refurbishment with a new
                    immersive
                    retail experience including an impactful colour changing lighting installation. Photos coming soon!
                </p>
            </div>
        </div>
    </div>
    <div class="news-item">
        <img class="news-item-image" src="../assets/images/new3.jpg" alt="BARRIO REFRESH">
        <div class="news-item-content">
            <div class="news-item-heading">
                <h3 class="news-item-title">12 JUNE 2019</h3>
                <h3 class="news-item-title">BARRIO REFRESH</h3>
            </div>
            <div class="news-item-desc">
                <p class="news-item-text">
                    Barrio Islington providing a fresh new look with white timber
                    panelling, tropical wallpapers and button backed banquette seating just in time for summer!
                </p>
            </div>
        </div>
    </div>
    <div class="news-item">
        <img class="news-item-image" src="../assets/images/Grapes_DM_Award.jpeg" alt="Grapes_DM_Award">
        <div class="news-item-content">
            <div class="news-item-heading">
                <h3 class="news-item-title">5 JUNE 2019</h3>
                <h3 class="news-item-title">WINNER!</h3>
            </div>
            <div class="news-item-desc">
                <p class="news-item-text">
                    Grapes have been awarded the best designed pub / bar of the year for Dirty Martini, Birmingham at
                    the
                    Casual Dining Awards! A fantastic achievement for a wonderful site which has set the benchmark for
                    the
                    Dirty Martini brand.
                </p>
            </div>
        </div>
    </div>
    <div class="news-item">
        <img class="news-item-image" src="../assets/images/new4.jpg" alt="WINNERS">
        <div class="news-item-content">
            <div class="news-item-heading">
                <h3 class="news-item-title">5 FEBRUARY 2019</h3>
                <h3 class="news-item-title">WINNERS</h3>
            </div>
            <div class="news-item-desc">
                <p class="news-item-text">
                    Babel London has been awarded the best designed restaurant of the year at the Casual Dining Awards!
                    A
                    fantastic achievement for a wonderful site which has set the benchmark for the Babel brand. We look
                    forward to future projects and hopefully many more awards!
                </p>
            </div>
        </div>
    </div>
    <div class="news-item">
        <img class="news-item-image" src="../assets/images/new5.jpg" alt="Bar Awards 2018">
        <div class="news-item-content">
            <div class="news-item-heading">
                <h3 class="news-item-title">30 JANUARY 2019</h3>
                <h3 class="news-item-title">WE’VE MADE THE CUT!</h3>
            </div>
            <div class="news-item-desc">
                <p class="news-item-text">
                    Dirty Martini, Manchester has been shortlisted for the Restaurant and Bar Awards 2018 in the Bar and
                    Club Category. Click on the link to see more photos of our fabulous design and other the full
                    shortlist.
                </p>
                <a href="https://restaurantandbardesignawards.com" class="news-item-link">
                    restaurantandbardesignawards.com
                </a>
            </div>
        </div>
    </div>
</div>